 body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; }
        header { background-color: #0beb0b; color: white; padding: 20px; text-align: center; }
        nav { background-color: #333; color: white; padding: 10px; text-align: center; }
        nav a { color: white; margin: 0 15px; text-decoration: none; }
        .banner { background-color: #ddd; padding: 50px; text-align: center; }
        .content { padding: 20px; text-align: center; }
        .footer { background-color: #333; color: white; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%; }

.gambar-pondok {
    width: 100%;
}