* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1b5e20, #2e7d32);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #f7f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo { display: flex; align-items: center; }
.logo img { height: 50px; margin-right: 12px; }
.logo span { font-weight: bold; font-size: 1.1rem; color: #1B5E20; }
.menu ul { display: flex; list-style: none; margin: 0; padding: 0; }
.menu li { margin-left: 25px; }
.menu a { color: #333; font-weight: 500; transition: 0.3s; }
.menu a:hover { color: #2e7d32; }


.contact-container {
    background: white;
    width: 90%;
    max-width: 900px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    animation: fadeIn 1s ease;
}

h1 {
    font-size: 28px;
    color: #1d976c;
    margin-bottom: 10px;
}

.desc {
    color: gray;
    margin-bottom: 25px;
}

.contact-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info, .form {
    flex: 1;
    min-width: 280px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 15px;
}

.info h2, .form h2 {
    color: #1d976c;
    margin-bottom: 15px;
}

.info p {
    font-size: 15px;
    margin: 8px 0;
}

.info h3 {
    margin-top: 15px;
    color: #1d976c;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #1b5e20, #2e7d32);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 
    0.9;
}

.map {
    margin-top: 25px;
}

.map h2 {
    color: #1d976c;
    margin-bottom: 10px;
}

/* FOOTER */
.footer { background-color: #1B5E20; color: white; text-align: center; padding: 40px 10%; margin-top: 50px; }
.footer-info h4 { margin-bottom: 10px; font-size: 1.3rem; }
.footer hr { border: 0; border-top: 1px solid rgba(255,255,255,0.2); margin: 20px 0; }

/* Animasi */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
